h1{
    text-align: center;
    color: blue;
    font-size: 40px;
    text-shadow: 2px 2px white;
}

p{
    color:green;
}
 
body{
    background: url("https://c1.staticflickr.com/8/7296/12657209704_8557aea4b8_b.jpg")no-repeat center center fixed;
    background-size: cover;
}



img{
    float: left;

    margin:0 0 20px 20px ;
    margin:0 0 10px 0px ;

    height: 200px;
    box-shadow: 5px 5px white;
    transform: rotate(360deg);
     transition-delay: 5s;
    

}

.div1{
    color:chartreuse;
     width: 35em; 
    border: 5px solid ;
    word-wrap: break-word;
    clear: left;
    float: right;
    font-size: 20px;
    text-shadow: 2px 2px blue;
    box-shadow: 5px 6px #ff3366; 
}


/*body{*/
/*    background-image: url("https://c1.staticflickr.com/8/7296/12657209704_8557aea4b8_b.jpg")*/
/*}*/


   firstame{ float:left;
}
